<input type="text"
       class="form-control item-input-control"
       [(ngModel)]="url"
       autofocus="autofocus" />

@if (showErrorNotification) {
<div class="mt-2 mb-2 alert alert-danger alert-dismissible fade show" role="alert">
  {{ errorMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseErrorClick()"></button>
</div>
}

@if(showResult) {
  <div class="mt-2 mb-2 alert alert-success alert-dismissible fade show" role="alert">
    <strong>Here is your short URL:</strong> {{ result }}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseResultClick()"></button>
  </div>

  @if (showCopiedNotification) {
  <span class="badge bg-primary">Copied to clipboard!</span>
  }
  @else {
  <button type="button" class="btn btn-outline-primary mt-3" (click)="onCopyClick()">Copy</button>
  }

}

@else {
  <button [disabled]="isShortening"
          class="btn btn-primary mt-3"
          (click)="shorten()">

    @if(isShortening) {
    Processing...
    }
    @else {
    Shorten
    }

  </button>
}
