<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow py-4">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
        <i class="bi bi-link-45deg fs-1"></i>
        <span class="fs-3 fw-bold">URL Shortener</span>
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <!--<li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light fs-5" [routerLink]="['/']">Home</a>
          </li>-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light fs-5" [routerLink]="['/url-shortener']">Try it</a>
          </li>

          @if (!currentUserResponse?.isLoggedIn) {
          <li class="nav-item">
            <a class="btn btn-primary btn-lg ms-2" href="/Identity/Account/Login?ReturnUrl=/url-shortener">Login</a>
          </li>
          }
          @else {
          <li>
            <div class="btn-group" dropdown>
              <button id="button-user" dropdownToggle type="button" class="btn btn-primary btn-lg dropdown-toggle">
                {{ currentUserResponse?.user?.username }} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" aria-labelledby="button-user">
                <li><a class="dropdown-item" href="/Identity/Account/Manage">Manage</a></li>
                <!-- add more here -->
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="/Identity/Account/Logout">Logout</a></li>
              </ul>
            </div>
          </li>
          }

          <li class="nav-item">
            <a class="btn btn-outline-light btn-lg ms-2" href="/api" target="_blank">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-dark text-white text-center py-5">
    <h1 class="display-4">Welcome to the URL Shortener App</h1>
    <p class="lead">Simplify your links and manage them with ease</p>
    <!--<a class="btn btn-primary btn-lg mt-3" [routerLink]="['/url-shortener']">Get Started</a>-->
  </div>
</header>
